* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #FF7A7A;
    background-image: url("images/bg-intro-desktop.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    gap: 20px;
}

.container>main,
.container>aside {
    flex: 1;
    padding: 20px;
}

.container>aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message,
.register {
    width: 100%;
    max-width: 550px;
    padding: 20px;
    box-sizing: border-box;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.15);
}

h1 {
    font-size: 50px;
    line-height: 1.1em;
}

main {
    color: white;
    width: 60%;
    padding: 20px;
}

aside {
    width: 45%;
    padding: 20px;
}

footer {
    color: white;
    text-align: center;
}

button {
    width: 100%;
    background-color: hsl(154, 59%, 51%);
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 15px;
    border-style: none;
    box-sizing: border-box;
    box-shadow: 0px 3px 0px 0px hsl(154, 56%, 45%);
    font-size: 16px;
    font-weight: 500;
}

button:hover {
    background-color: hsl(154, 74%, 67%);
    box-shadow: 0px 3px 0px 0px hsl(154, 59%, 51%);
    cursor: pointer;
}

input {
    width: 100%;
    padding: 16px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    border-color: rgb(207, 207, 207);
    font-weight: 700;
    display: block;
}

input:hover {
    border-color: hsl(248, 32%, 49%);
}

::placeholder {
    font-weight: 700;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.message {
    background-color: hsl(248, 32%, 49%);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.15);
}

.notice {
    color: rgb(207, 207, 207);
    font-size: 11px;
    font-weight: 500;
    text-align: center;
}

.notice a {
    text-decoration: none;
    color: #FF7A7A;
}

.error-message {
    color: #FF7A7A;
    font-style: italic;
    font-size: 10px;
    font-weight: 500;
    position: absolute;
    right: 0;
}

.input-group {
    position: relative;
    width: 100%;
}

.border-color-changed {
    border-color: #FF7A7A;
    border-width: 2px;
}

.invalid-email {
    color: #FF7A7A;
}

.error-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #FF7A7A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    visibility: hidden;
}

.error-icon.show-error {
    visibility: visible;
}

@media screen and (max-width: 600px) {
    body {
        text-align: center;
    }

    .container {
        flex-direction: column;
    }

    main,
    aside {
        width: 100%;
    }

    main {
        order: 1;
    }

    aside {
        order: 2;
    }

    h1 {
        font-size: 30px;
        line-height: 1.5em;
    }

    .message {
        padding-left: 50px;
        padding-right: 50px;
    }

    .register {
        padding: 25px;
    }

    .message,
    .register {
        width: 110%;
        max-width: none;
        margin-left: -5%;
        margin-right: -5%;
    }
}

@media screen and (min-width: 601px) {

    .message,
    .register {
        max-width: 550px;
    }
}